@import 'src/variables.scss';

.team{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "bg team";

  &__bg{
    grid-area: bg;
    &__img{
      max-width:100%;
      height:100%;
      object-fit: cover;
    }
  }
  &__container{
    display: grid;
    align-self: center;
    grid-area: team;
    &__text{
      width:72%;
    }
    &__btn{
      max-width:300px;
    }
  }
}


@media screen and(max-width:750px) {
  .team{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "team"
    "bg";

    &__container{
      padding: 0 2rem;
      text-align: center;
      place-items: center;
      &__text{
        width:100%;
      }
    }
}
}