@import 'src/variables.scss';

.tweet{
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows:  1fr 2fr;
  border: 1px solid #828282;
  border-radius: 4px;
  height:160px;
  padding: 0.5em 1em;
  max-width:300px;
  margin:0 auto;
  
  &__image{
    align-self: center;
    justify-self: start;
  }
  &__userName{
    align-self: center;
    justify-self: start;
    font-weight: bold;
    margin-left:0.5em;
  }
  &__tweetContent{
    grid-column: 1 / span 3;
    margin:0;
  }
  &__twitterIcon{
    color: $brandColor;
    align-self: center;
    justify-self: end;

  }
}